* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}


.background {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  width: 350px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #ffff;
  border: none;
  outline: none;
  border-radius: 5px;
}

.input {
  margin-top: 10px;
  margin-left: 10px;
}

input {
  width: 95%;
  padding: 12px 10px;
  border-radius: 5px;
  border: 1px solid blueviolet;
}

.anchor {
  width: 92%;
  padding: 12px 10px;
  text-align: center;
  border-radius: 5px;
  border: none;
  background-color: blueviolet;
  margin-top: 15px;
  margin-left: 10px;
}


.anchor a {
  color: #ffff;
  text-decoration: none;

}

.anchor1 {
  text-align: center;
  margin-top: 15px;
}

.anchor1 a {
  text-decoration: none;
}

.break {
  margin-top: 20px;
}

.link {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 25px;
}

.link button {
  background-color: green;
  padding: 13px 10px;
  text-decoration: none;
  color: #ffff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.head {
  text-align: center;
}

h3 {
  margin-top: 15px;
}

.btn {
  margin-top: 20px;

}

button {
  padding: 10px;
  cursor: pointer;
}

.heading {
  display: flex;
  justify-content: space-between;
  margin-inline: 12px;
}

ul {
  list-style-type: none;
  margin-top: 10px;
}

ul li {
  margin-top: 10px;
  padding: 10px;
  cursor: pointer;
  text-align: start;
  transition: all ease-in-out 0.2s;
}

ul :hover {
  background-color: rgba(0, 255, 255, 0.473);
}

.manage {
  cursor: pointer;
}

.theme {
  text-align: end;
  cursor: pointer;
}

/* home page */
.background-home {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.top-section {
  margin-top: 20px;
}

.container-home {
  width: 550px;
  height: 370px;
  padding: 10px;
  margin-top: 30px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #ffff;
  border: none;
  outline: none;
  border-radius: 5px;
  overflow-y: scroll;
}

.container-home h2 {
  text-align: center;
  margin-block: 10px;
}

.container-home .input {
  display: flex;
  margin-top: 15px;
}

.container-home .input input {
  width: 410px;
  border: none;
  border-radius: 6px;
  outline: none;

}

.container-home .input button {
  margin-left: 15px;
}


.todos p {
  display: flex;
  justify-content: space-between;
  margin: 14px 10px;
  border-radius: 6px;
  padding: 10px;
  background-color: #e1f5fe;

}


.todos p input[type="checkbox"]:checked {
  font-size: 10px;
}

.text {
  padding-top: 8px;
}

.todos input {
  width: 400px;
  border: none;
  outline: none;
  border-radius: 6px;
  background-color: #7d7d7d25;

}

input[type="checkbox"] {
  width: 25px;
  border-radius: 3px;
}




/* Css for Admin Panel */

.admin h2 {
  text-align: center;
}

.cards {
  width: 100%;
  display: flex;
  justify-content: center;
}

.cards .box-1 {
  width: 200px;
  height: 200px;
  margin-left: 15px;
  margin-top: 30px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  text-align: center;
  padding: 15px;
}
.cards .box-1 .user-name{
  margin-block: 20px;
}


.time-zone {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}

.date {
  margin-top: 15px;
}

.indian-time {
  margin-top: 15px;
}
.date-picker{
margin-top: 10px;
}
.date-picker  .date{
  width: 130px;
  height: 30px;
  margin-top: 5px;
}

.indian-time p {
  color: #d500f9;
  font-size: 19px;
  text-align: center;
}

.USA-time {
  margin-top: 15px;
}

.USA-time p {
  color: #d500f9;
  font-size: 20px;
  text-align: center;
}
.list-1 {
  width: 300px;
  height: 235px;
  border: 1px solid #2979ff;
  margin-inline: 20px;
  margin-top: 18px;
  border-radius: 10px;
  box-shadow: rgba(197, 167, 167, 0.24) 0px 3px 8px;
  text-align: center;
}
.user-1{
  width: 300px;
  height: 255px;
  border: 1px solid #2979ff;
  margin-inline: 20px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  text-align: center
}


.todos-list h3 {
  width: 100%;
  padding-left: 10px;
  padding-top: 6px;
  font-size: 16px;
  text-align: start;
}

.todos-list h3 span {
  margin-left: 15px;
}

.list-1 .btn button {
  margin-bottom: 25px;
}


.box-2 {
  width: 200px;
  height: 200px;
  margin-left: 15px;
  margin-top: 15px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;

}
.graphs{
  width:100%;
  padding: 40px 30px 0px 30px ;
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
}

.graph h4{
  margin-left: 60px;
  margin-bottom: 10px;
}
.graph-uv h3{
  margin-left:60px ;
}

.graph-uv span{
  color: #d500f9; 
}

.graph-2 h4{
  text-align: center;
}